.search-filter {
  background-color: #fff;
  border: 1px solid #c0c0c0;
}
.search-filter input {
  border: none;
  outline: none;
  background-color: #fff;
  padding: 10px;
  width: 20rem;
}
.search-filter ng-icon {
padding: 15px;
}

